*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
}
nav{
    display: flex;
   height: 10vh;
   background-color: dimgray;
}
.nav-logo img{
    height: 9vh;
    width:10vw;
    border-radius: 2vh;
 
}
ul{
    display: flex;
    justify-content: center;
    margin-left: 60%;
    align-items: center;
    gap: 30%;
}
li{
    list-style: none;
    font-size: 2vh;
}
li:hover{
    color: red;
    height: auto;
}
.back-img  {
    background-image: url(./asset/360_F_1712414988_kk7Axd9d1hNK0vMEBvYsKetlwvNja2pJ.jpg);
    height: 100vh;
    width: 99.2vw;
    background-size: cover;
    object-fit: co;
    background-repeat: no-repeat; 
    margin-top: 2vh;
}
.container-1 , h2  h1{
    color:darkgrey;
    font-size: 5vh;
}
.container-1 h1{ 
    color:burlywood;
   font-size: 6vh;
}
button{
    height: 3vh;
    width: 7vw;
    border-radius: 1vh;
    margin: 20vh;
}
button:hover{
    background-color: gray;
}
.text {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    font-size: 6vh;
}
p{
    margin-left: 60vh;
    flex-direction: column;
    width: 50vw;
    margin-top: 2vh;
}
.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    gap: 2vh;
    padding: 10vh;
}
.box1{
    background: url(./asset/istockphoto-1467199060-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vh;
    width:20vw;
    height:50vh;
}
.box2{
    background: url(./asset/coffee2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vh;
    width:20vw;
    height:50vh;
}
.box3{
    background: url(./asset/coffee3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vh;
    width:20vw;
    height:50vh;
}
.text-1 {
    display: block;
    text-align: center;
    margin-top: 20vh;
    color: darkgray;
}
.box1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box2:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box3:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text-h {
    display: flex;
    justify-content: center;
    font-size: 6vh;
}
.milk-shakes{
    display: flex;
    gap: 2vh;
    justify-content: center;
}
.box- {
 height: 70vh;
 width: 20.3vw;
 border-radius: 1vh;
 margin-top: 2vh;
}
.box- img{
 height: 60vh;
 width: 20vw;
 border-radius: 1vh;
 margin-top: 2vh;
}
.box- img:hover{
    border: 1vh solid gray;
} 
.box- h3{
    color: black;
    background-color: gray;
    border-radius: 0.5vh;
    width: 5vw;
    margin-left: 2vh;  
}
.container-4{
   display: block;
}
.text-i{
    display: flex;
    justify-content: center;
    font-size: 6vh;
}
.blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.box-- {
  height: 60vh;
  width: 20vw;
  
  margin-top: 4vh;
  margin: 3vh;
  border-radius: 2vh;
}
.box-- img{
    height: 40vh;
    width:20vw;
    border-radius: 2vh;  
}
.box-- img:hover{
    border: 2px solid gray;
}


 @media (min-width: 576px) {

    ul {
        margin-left: 40%;
        gap: 20%;
    }

    p {
        margin-left: 20vw;
        width: 80vw;
    }

    .box-1,
    .milk-shakes,
    .blogs {
        flex-wrap: wrap;
    }

    .box-,
    .box-- {
        width: 70vw;
    }

    .box- img,
    .box-- img {
        width: 70vw;
    }
}
@media (min-width: 768px) {

    ul {
        margin-left: 45%;
        gap: 25%;
    }

    p {
        margin-left: 20vw;
        width: 60vw;
    }

    .box-1 {
        gap: 3vh;
    }

    .box-,
    .box-- {
        width: 40vw;
    }

    .box- img,
    .box-- img {
        width: 40vw;
    }
}
@media (min-width: 1440px) {

    ul {
        margin-left: 60%;
        gap: 30%;
    }

    p {
        margin-left: 60vh;
        width: 50vw;
    }

    .box-1 {
        padding: 10vh;
    }

    .box-,
    .box-- {
        width: 20vw;
    }

    .box- img,
    .box-- img {
        width: 20vw;
    }
}

